<div class="wrapper" *ngIf="!leaderboardEmpty">
  <form class="submitLeader" #leaderForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!submitted && gameover">
    <div class="form-group">
      <label for="name">Username: </label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="score.user" name="name">
    </div>

    <button class="button" type="submit">Submit your Score</button>
  </form>

<h2>Leaderboard</h2>

<div class="leaderboard">
    <table summary="Leaderboard">
        <tr>
          <th scope="col"></th>
          <th scope="col">User</th>
          <th scope="col">Score</th>
        </tr>
        <tr *ngFor="let leader of leaders; let i = index">
            <td scope="row">{{i + 1}}</td>
            <td scope="row">{{leader.user}}</td>
            <td scope="row">{{leader.scoreNo}}</td>
         </tr>
    </table>
</div>
</div> 
