<div>
    <div>
        <div class="option">
            <app-option [movie]="movies[0]"></app-option>
        </div>
        <div class="option">
            <app-option [movie]="movies[1]"></app-option>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div class="option">
            <app-option [movie]="movies[2]"></app-option>
        </div>
        <div class="option">
            <app-option [movie]="movies[3]"></app-option>
        </div>
        <div class="clear"></div>
    </div>
</div>
