div.game
    background-color: black
    border: white 1px solid
    margin: 0 auto
    max-width: 95%
    height: 100%
    padding: 2%
    border-radius: 25px
    position: relative
        
.title
    background-color: white
    padding: 30px
    margin-bottom: 150px
    text-align: center
    font-size: xxx-large  
