<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <div class="title">
    <h1>The Very Stressful Movie Quiz</h1>
  </div>

  <div class="starting" *ngIf="!startedGame">
    <h1>Welcome to the very stressful Movie Quiz!</h1>

    <button (click)="startGame()">Start the game!</button>
  </div>

  <div class="game" *ngIf="startedGame">
    <app-game></app-game>
  </div>
<router-outlet></router-outlet>
</body>
</html>

