<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <div class="title">
    <img class="popcorn" src="../assets/Popcorn_laura.gif" alt="popcorn">
    <img class="stressfulmoviequiz" src="{{titlesrc}}" alt="The Very Stressful Movie Quiz">
    <img class="popcorn" src="../assets/Popcorn_laura.gif" alt="popcorn">
  </div>

  <div class="starting" *ngIf="welcome">
    <h1>Welcome to the Very Stressful Movie Quiz!</h1>
<div class="quizdescription">
  Ever got bored during regular quizzes? Boy do I have a game for you! 
</div>
    <h2>Instructions</h2>
    <div class="instructions"> 
      <div>
        <img src='../assets/Tasten.png' alt="Space Game">
      </div>
      <div class="quizdescription">
        Read the description on the bottom left and match it to the correct movie title.<br>
        <br>
        You get 20 seconds to play the quiz. Each correctly guessed movie grants you another few seconds. The harder the chosen level the less additional time.<br>
        <br>
        For each correct answer you'll get points and you are getting a bonus for guessing correctly consecutively. Guess wrong and 5 points are subtracted<br>
        <br>
        But a movie quiz is too relaxing. This is why you are trying to defend Earth from an Alien Invasion at the same time. <br>
        <br>
        For each enemy you shoot you'll receive +20 points and an additional 1000 points if all enemies were killed.<br>
        <br>
        You start with a total of 3 lives. For each hit you take from the enemy bullets, one live will be taken away. <br>
        <br>
        The game is finished if there are no more aliens left, if you lost all your lives or if the time runs out.<br>
        <br>
      </div>
    </div>

    <div class="startgame">
      <button class="startbutton" (click)="startGame()">Start the game!</button>
      
      <form class="leveldifficulty">
        <label>Level:</label>
        <select [(value)]="level" (change)="selected()">
          <option *ngFor="let lvl of levels" [value]="lvl.value">{{lvl.viewValue}}</option>
        </select>
      </form>
    </div>
    
    <div class="leaderboard">
      <app-leaderboard></app-leaderboard>
    </div>
  </div>

  <div class="game" *ngIf="startedGame">
    <app-game [level]="level" (gameover) = "setGameOver($event)"></app-game>
  </div>
  <div class="gameover" *ngIf="gameover">
    <h1>Your Total Score is {{totalScore}}</h1>
    
    <div class="buttons">
      <button (click)="restartGame()">Try again</button>
      <button (click)="backToStart()">Back to Instructions</button>  
    </div>

    <form class="submitLeader" #leaderForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="visibleLeaderboard">
      <div class="form-group">
        <label for="name">Username</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="score.user" name="name">
      </div>

      <button class="button" type="submit">Submit your Score</button>
    </form>

    <div class="leaderboard">
      <app-leaderboard></app-leaderboard>
    </div>
  </div>
  
<router-outlet></router-outlet>
</body>
</html>

