<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <div class="title">
    <h1>The Very Stressful Movie Quiz</h1>
  </div>

  <div class="starting" *ngIf="welcome">
    <h1>Welcome to the very stressful Movie Quiz!</h1>

    <button (click)="startGame()">Start the game!</button>
  </div>

  <div class="game" *ngIf="startedGame">
    <app-game (gameover) = "setGameOver($event)"></app-game>
  </div>
  <div class="gameover" *ngIf="gameover">
    <h1>You lost you fucking looser :D Your total score is {{totalScore}}</h1>
    <button (click)="restartGame()">Try again and restart the Game</button>
    <button (click)="backToStart()">Home</button>
  </div>
<router-outlet></router-outlet>
</body>
</html>

